.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  /*  flex-flow : column nowrap; */
}

.container2 {
  display: flex;
  height:100%;
  flex-wrap :wrap ;
  justify-content: center;
  align-items:center;
}

.item {
  flex-basis: 100vh;
  border-bottom: 1px solid skyblue;
}
.itemtwo1 {

 flex-basis:30%
}
.itemtwo2 {
 flex-basis:70%;
}

.itemthird1{
  font-weight:800;
}
.itemthird2{
  color:green;
}
.itemthird3{
  font-weight:800;
}
.itemthird4{
  color:red;
  font-weight:800;
}
.naverpicture{
  display: block; margin: 0px auto;
  width:140px;
  height:70px;
  position: relative;
  bottom:10px;
}
h1 {
  text-align: center;
  position: relative;
  bottom:10px;
}
h1 span:nth-child(1) {
  color: #4285f4;
}
h1 span:nth-child(2) {
  color: #ea4335;
}
h1 span:nth-child(3) {
  color: #fbbc05;
}
h1 span:nth-child(4) {
  color: #4285f4;
}
h1 span:nth-child(5) {
  color: #34a853;
}
h1 span:nth-child(6) {
  color: #ea4335;
}
.itemthird3 span:nth-child(1){
  color: #4285f4;
}
.itemthird3 span:nth-child(2){
  color: #34a853;
}
.itemthird3 span:nth-child(3){
  color: #fbbc05;
}
.itemthird3 span:nth-child(4){
  color: #ea4335;
}
div .naver{
  color: green;
}
input{
  box-shadow: 0 2px 2px 0px rgba(0,0,0,.16);
}
.alink{
  text-decoration: none;
}
